@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: 'Open Sans', 'helvetica', sans-serif;
}

.help-text {
  background-color: #f2fafd;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.radio-buttons {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.download-button {
  margin-bottom: 40px;
}